<div class="planets-container">
  <div class="sub-container">
    <div class="spinner" *ngIf="!loaded; else dataLoaded">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #dataLoaded>
      <div *ngIf="!planets; else Planets">
        Server error. Please try again!
      </div>
      <ng-template #Planets>
        <div *ngFor="let planet of planets" class="planet-container">
          <app-planet [planet]="planet" (click)="redirectToPlanet(planet.id)"></app-planet>
        </div>
      </ng-template>
    </ng-template>
  </div>
  <div class="logout">
    <button mat-flat-button class="button" (click)="logout()">Logout</button>
  </div>
</div>
