<div class="planet-info">
  <mat-icon aria-hidden="false" (click)="backToDashboard()">arrow_back_ios</mat-icon>
  <img [attr.src]="transform(planet.avatar)" class="planet-avatar" alt="Image" />
  <h2 class="planet-title">{{planet.name}}</h2>
</div>
<div class="planet-update-container">
  <hr>
  <div class="planet-data">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Select planet status</mat-label>
      <mat-select [(ngModel)]="planet.status">
        <mat-option *ngFor="let item of statuses" [value]="item.id">{{item.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="planet.description" class="planet-description"></textarea>
    </mat-form-field>
  </div>
  <div class="submit-form">
    <button mat-flat-button class="button" (click)="savePlanet()">Save</button>
  </div>
</div>

