.planet-update-container {
    overflow: scroll;
}

.planet-info {
    display: flex;
    justify-content: flex-start;
    padding: 15px 0 15px 25px;
    height: 85px;
    align-items: center;
}

.planet-title {
    margin-left: 20px;
    padding-top: 15px;
}

.planet-data {
    min-height: calc(100vh - 320px);
    width: 85%;
    padding: 15px 15px 0 25px;
}

.submit-form {
    width: 85%;
    padding: 15px 15px 0 25px;
}

.planet-description {
    resize: none;
    height: calc(100vh - 430px);
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
