.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #A0515D;
  font-family: "Calibri", sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
