.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
}

.login-form {
  margin: 0 20px 0 20px;
  padding:  20px 20px 20px 20px;
  border: #ccc 1px solid;
}

.login-button {
  margin-top: 10px;
  width: 100%;
}

.login-title {
  text-transform: uppercase;
  text-align: center;
}
