<div class="login-form-container">
  <div class="login-form">
    <h2 class="login-title">login</h2>
    <mat-form-field color="warn" class="full-width">
      <input matInput type="text" placeholder="Username" [formControl]="usernameFormControl" required>
      <mat-error *ngIf="usernameFormControl.invalid">Enter your username</mat-error>
    </mat-form-field>
    <mat-form-field color="warn" class="full-width">
      <input matInput type="password" placeholder="Password" [formControl]="passwordFormControl" required>
      <mat-error *ngIf="passwordFormControl.invalid">Enter your password</mat-error>
    </mat-form-field>
    <button mat-raised-button class="button" (click)="login()"  [disabled]="!usernameFormControl.valid || !passwordFormControl.valid">Login</button>
  </div>
</div>

