<div class="planet-container">
  <div class="planet-info">
    <div>
      <img [attr.src]="transform(planet.avatar)" class="planet-avatar" alt="Image" />
    </div>
    <div class="planet-title">{{planet.name}}</div>
  </div>
  <div class="planet-data">
    <div *ngIf="planet.team; else noCaptain">
      <div class="planet-description">
        "{{planet.description}}"
      </div>
      <div class="planet-captain">
        <span class="title"> by captain: </span>
        <span class="name"> {{planet.team.captainName}} </span>
      </div>
      <div class="planet-robots">
        <span class="title">Robots: </span>
        {{planet.team.robots | robotslist}}
      </div>
    </div>
    <ng-template #noCaptain>
      <div class="planet-description">
        No description yet ":/
      </div>
    </ng-template>
  </div>
  <div class="planet-status" [ngStyle]="{'color': planetStatus.color}">
    {{planetStatus.title}}
  </div>
</div>
