.planet-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100px;
  border: 1px solid #ccc!important;
  padding: 10px 10px;
}

.planet-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.planet-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.planet-description {
  font-size: 14px;
}

.planet-captain {
  font-size: 11px;
}

.planet-captain > .title {
  font-weight: bold;
}

.planet-captain > .name {
  text-decoration: underline;
}

.planet-robots {
  font-size: 12px;
}

.planet-robots > .title{
  font-weight: bold;
}

.planet-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-weight: bold;
}


.planet-title {
  font-weight: bold;
  text-transform: uppercase;
}
