/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }

.container {
  flex-wrap: wrap;
}

.planets-container {
  height: calc(100vh - 120px);
  padding: 15px 15px;
  overflow: auto !important;
}

.sub-container {
  min-height: calc(100vh - 170px);
}

.spinner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.planet-avatar {
  width: 80px;
  height: 80px;
}

.success {
    color: #155724 !important;
    background-color: #d4edda !important;
}

.error {
    color: #fff !important;
    background-color: #ff0000 !important;
}

.success .mat-simple-snackbar-action  {
  color: #000;
}

.error .mat-simple-snackbar-action  {
  color: #fff;
}

.button {
  width: 100%;
  background-color: #A0515D;
  color: #fff;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #A0515D;
}
